
<img src="https://st4.depositphotos.com/3320817/38951/i/600/depositphotos_389512800-stock-photo-laughs-abyssinian-kitty-with-funny.jpg" alt="funny cat">

<a class="btn btn-link" href="/">Home page</a>